
body{
  background-color: #191919;
  color: #00ffff;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.row{
  margin-top: 40px;
}
.display-4{
  padding-top: 20px;
}
#lbsInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px; 
}
#kgInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#gmInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px; 
}
#ozInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;  
}
#cmInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#mInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#inchInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#ftInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#bmiInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
#ratioInput{
  width: 80%;
  margin-top: 20px;
  font-size: 11px;
}
.indexcol{
  margin-top:16px;
  margin-bottom:16px;
  background: #dc143c;
  color: #191919;
  height: 60px;
  border-radius: 5px;
  font-size: 14px;
}
@media(max-width: 700px){
    .body{
        font-size: 20px;
        background-size: contain;
        background-position: center;
        width: 10%;
    }
}

